/* 
.footer{
    flex-shrink: 0;
    flex-grow: 0;
    background: #dc03f9;
    padding: 3px 15px;
    clear: both;
    position: fixed;
    height: 200px;
    margin-top: -200px;
  } */

  .footer{
    padding: 0px !important;
    width: 97%;
    position: fixed;
    /* height: 200px; */
    /* margin-top: 335px; */
    /* margin-bottom: 2px !important; */
}

  